{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
</head>
<body>
{% block header %}
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'add_post' %}">Form</a>
{% endblock %}

{% block content %}
<p>
    {{ message }}

        <div>
            <ul>
                {% for number in some_list %}
                <li> {{ number }}</li>
                {% endfor %}add
            </ul>

        </div>
<!--    <img src="{% static 'polls/img.jpg' %}" alt="My image">-->
</p>
{% endblock %}
</body>
</html>