{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
{% block content %}

<p>
    <b>Title:</b>{{ post.title }}

</p>
<p>
    <b>Content:</b>{{ post.content }}

</p>
<p>
    <b>Likes:</b>{{ post.numbers_of_likes }}  <button><a href="{% url 'add_like' post.pk %}">Like</a></button>

</p>
<p>
    <b>Created Date:</b>{{ post.create_data }}

</p>
<p>
    <b>Updated Date:</b>{{ post.update_data }}

</p>
<!--<button><a href="{}"></a>-->
<h1>Comments</h1>
{% for comment in post_comments %}
    <p>
        {{ comment.text }} {{ comment.author }} {{ comment.update_date }}
    </p>
{% endfor %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Add Comment">
</form>

{% endblock %}
</body>
</html>